@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap");

html,
body {
  margin: 0px;
}

body {
  width: 100%;
  background: linear-gradient(90deg, #28313b, #485461);
}

a {
  text-decoration: none;
}

.main_wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.main {
  /*padding: 10px;
  margin: auto;*/
  width: 90%;
  height: 90vh;
  /*
  position: absolute;
  top: 5%;
  left: 5%;
  padding: 0px;*/
  
  /*background: linear-gradient(90deg, #1373f5, #1e3176);*/
  /*background: linear-gradient(90deg, #434343, #000000);*/
  /*background: linear-gradient(90deg, #28313B, #485461);*/
  /*background: linear-gradient(90deg, #2C3E50, #000000);*/
  background: #171a32;
}
#header {
  height: 10vh;
  /*background: linear-gradient(90deg, #146ff0, #1e2c72);*/
  background: #1e263f;
  display: flex;
  align-items: center;
}

#title {
  color: white;
  font-family: 'Roboto', sans-serif;
  margin-left: 5%;
}


#inventory, #order {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
}

#inventory { 
  margin-left: 15%;
}
#order {
  margin-left: 5%;
}
